<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     Bootstrap CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <title>ML App - S&P500</title>
   </head>

   <body>

   {% extends "base.html" %}

   {% block content %}

      <br>
      <h1> Welcome! <br> </h1>
      <h2> This application uses Machine Learning to determine if you should buy or sell a S&P500 stock tomorrow <br> <br> </h2>
      <p> Get tomorrow's stock predictions: </p>
      <a class="btn btn-primary btn-lg" href="/get_stock_val/AAPL" role="button"> Buy/Sell Predictions </a>
      <p> <br> Get ticker performance: </p>
      <a class="btn btn-secondary btn-lg" href="/get_stock_perf/AAPL" role="button background-color: #808080"> Ticker Performance </a>

   {% endblock %}

   </body>

</html>

