<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{ticker}} prediction </title>
</head>
<body>

<!--{% extends "base.html" %}-->

<!--{% block content %}-->

<br>
<!--<h2>You should {{ goal }} {{ticker}} tomorrow! <br> <br> </h2>-->
<!--<p> Choose another ticker:  </p>-->

<h2>{{ goal }}</h2>

<!--<form method="POST">-->
<!--    <input name="text">-->
<!--    <input type="submit">-->
<!--</form>-->

<!--<br>-->
<!--<a class="btn btn-primary btn-lg" href="/" role="button"> Go back to Home Page </a>-->
<!--<a class="btn btn-secondary btn-lg" href="/get_stock_perf/{{ticker}}" role="button"> Get Stock Performance </a>-->
<!--{% endblock%}-->
</body>
</html>